# macOS
.DS_Store

# Python cache/artifacts
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Env files
.env
.env.portal

# IDEs and Tools
.vscode/
.calva/
.lsp/
.clj-kondo/
*.bin
*.json
!package.json
!composer.json
!*.md
